@use 'foundation/variable' as *;
/* ==============================
 ||wrapper
============================== */

/* ==============================
 ||container
============================== */
.l-container {
  &__main {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: calc(840px + 30px * 2);
    background: #dfdfdf;
  }
}

/* ==============================
 ||inner
============================== */

/* ==============================
 ||box
============================== */

/* ==============================
  ||Header
============================== */
.l-header {
  &__logo {}

  &__headline {}
}

/* ==============================
  ||header-nav
============================== */
.l-header-nav {}

/* ==============================
  ||drawer-nav
============================== */
.l-drawer-nav {}

/* ==============================
  ||footer
============================== */
.l-footer {
  // background: $footer-color;

  &__container {}
}

.copyright {
  text-align: center;
  font-size: 0.625rem;
  letter-spacing: 0.5px;
}

/* ==============================
  ||footer-nav
============================== */